{% extends '::base.html.twig' %}
{% block body %}
        {% for article in articles %}
            {% include 'BlogBundle:Pagination:vignette.html.twig' with  {'article': article} %}
        {% endfor %}
    <nav>
        <ul class="pager">
            {% include 'BlogBundle:Pagination:pagination.html.twig' %}
        </ul>
    </nav>
{% endblock %}
