{# L'utilisateur est-il connecté ? #}
<div class="nav_login">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# L'utilisateur est connecté ! #}
        <a class="btn btn-default" href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span> My profile</a>
        <a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">Logout</a>

{% else %}
    {# L'utilisateur n'est pas connecté ! #}
        <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#login_modal">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Login
        </button>

        <a class="btn btn-default" href="{{ path('fos_user_registration_register') }}">Register now</a>




{% endif %}
</div>